# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Large datasets
dataset_raw/

# Model files
*.h5
*.keras

# Temporary files
*.log
